body {
  font-family: monospace;
  font-weight: bold;
}

h1 {
  position: absolute;
  padding-top: 2em;
  width: 100%;
  text-align: center;
}

span {
  font-size: 2em;
}

a {
  font-size: 1.5em;
  color: salmon;
}

svg {
  stroke-width: 5px;
}

#wxh {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}

#wline {
  position: fixed;
  bottom: 5%;
  stroke: rgb(169, 204, 227);
}

#hline {
  position: fixed;
  right: 5%;
  stroke:rgb(162, 217, 206)
}

#width {
  color: rgb(169, 204, 227);
}

#height {
  color: rgb(162, 217, 206);
}

#resolution {
  font-size: 3em;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 10px 0;

  /* Text inside */
  font-size: 0.5em;
  color: black;
  text-align: center;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -400px; /* Use half of the width (500/2 = 250), to center the tooltip */
  margin-top: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}
