body {
  font-family: monospace;
  font-weight: bold;
}

h1 {
  position: absolute;
  padding-top: 2em;
  width: 100%;
  text-align: center;
}

#wxh {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
}

#wline {
  position: fixed;
  bottom: 5%;
}

#hline {
  position: fixed;
  right: 5%;
}

span {
  font-size: 2em;
}

#width {
  color: rgb(169, 204, 227);
}

#height {
  color: rgb(162, 217, 206);
}
